* {
  border: 1px solid red;
}

body {
  display: flex;
  height: 100vh;
}

nav{
  background-color: #1F1F3D;
  color: #e9e9f3;
  font-family: Open Sans, Bold;
  width: 16rem;
}
/* adjust html for separation line? or adjust css borders*/
div .filter {
  font-family: Open Sans, Light;
  background-color: #1F1F3D;
  color: #BFBFDD;
}

.content-wrapper {
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

.form-container {
  background-color: #a9aad2;
  width: 300px;
  height: 50%;
  width: 100%;
}

.notes-container {
  background-color: #EAEAF4;
  height: 50%;
  width: 100%;
}

.starred-button {
font-family: Open Sans, Bold;
background-color: #5356A4;
color: #E9E9F3;
}

.save-button {
  font-family: Open Sans, Bold;
  background-color: #1F1F3D;
  color: #E9E9F3;
  text-align: center;
}

#search-box {
  font-family: Open Sans, Light;
  color: #1F1F3D;
}

.search-button {
  background-color: #1F1F3D;
  height: 30px;
  width: 30px;
}

p {
  font-family: Open Sans, Bold;
  color: #1F1F3D;
}
